* {
    scroll-behavior: smooth;
    transition: all .3s ease;
}

*:hover {transition: 0.5s;}

*:focus {transition: 0.5s;}

*::selection {
    color: #FFFFFF;
    background: #0D606F;
}

h1::selection,
h2::selection,
h3::selection {
    color: #FFFFFF;
    background: #F2785C;
}

body {
    font-family: 'Red Hat Text', 'Segoe UI', Tahoma, Verdana, sans-serif;
}

button {
    display: block;
    position: relative;
    color: #fff;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    background-color: #0D606F;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #F2785C;
}

button:active {
    top: 1px;
}

.header-wrapper {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    width: 100%;
}

.header-wrapper::before {
    content: '';
    position: absolute;
    min-height: 765px;
    min-width: 100%;
    z-index: -1;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 15%, rgba(255, 255, 255, 0.5) 85%, rgba(255, 255, 255, 0) 100%), url("../images/big-slider-bg-1.jpg");
    background-position: center center;
    background-size: cover;
    filter: saturate(90%) contrast(100%);
    bottom: 24px;
}

@media (max-width: 1440px) {
    .header-wrapper::before {
        display: none;
    }
}

.nav-wrapper {
    display: flex;
    position: absolute;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    z-index: 10;
}

.nav {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 90px;
    max-width: 1440px;
    min-width: 1440px;
    box-sizing: border-box;
    padding: 0px 120px 0px 120px;

}

.logo-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.logo-block a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 6px;
    height: 90px;
}

.menu-block {
    display: flex;
    position: relative;
    align-items: center;
    left: -16px;
    min-width: 50px;
}

.menu-list {
    display: flex;
    gap: 42px;
    padding: 0px;
    list-style: none;
}

.menu-list>li {
    display: inline-block;
}

.menu-list>li>a {
    color: #fff;
    text-decoration: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.menu-list>li>a:hover {
    color: #792c17;
}

.login-block {
    display: flex;
    align-items: center;
}

.login-button {
    position: relative;
    top: 0px;
    font-size: 16px;
    line-height: 21px;
    padding: 10px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.login-button:hover {
    background-color: #FFFFFF;
    color: #0D606F;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.header-container {
    display: flex;
    position: relative;
    width: 100%;
    min-width: 1440px;
    max-width: 1440px;
    min-height: 765px;
    background-image: url("../images/big-slider-bg-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.10), 10px -10px 10px rgba(0, 0, 0, 0.10);
}

@media (max-width: 1456px) {
    .header-container {
        max-width: 100%;
        min-width: 100%;
        min-height: 765px;
    }
}

@media (max-width: 992px) {
    .header-container {
        min-height: 595px;
    }
}

@media (max-width: 768px) {
    .header-container {
        min-height: 425px;
    }
}

@media (max-width: 576px) {
    .header-container {
        min-height: 251px;
    }
}

@media (max-width: 390px) {
    .header-container {
        background-image: url("../images/big-slider-bg-1-sm.jpg");
    }
}

.preview {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    box-sizing: border-box;
    margin-left: 120px;
    margin-top: 122px;
    width: 892px;
    height: 100%;
    top: 200px;
}

@media (max-width: 1140px) {
    .preview {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0px;
        margin-top: 122px;
        top: 160px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .preview {
        margin-left: 0px;
        margin-top: 122px;
        top: 120px;
    }
}

@media (max-width: 576px) {
    .preview {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 0px;
        margin-top: 122px;
        top: 80px;
    }
}

.header-title {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
    margin: 0px 0px 0px 1px;
}

@media (max-width: 1140px) {
    .header-title {
        font-size: 48px;
        line-height: 64px;
    }
}

@media (max-width: 768px) {
    .header-title {
        font-size: 32px;
        line-height: 40px;
    }
}

@media (max-width: 576px) {
    .header-title {
        display: none;
    }
}

.header-subtitle {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 32px 0px 0px 0px;
}

@media (max-width: 1140px) {
    .header-subtitle {
        font-size: 18px;
        line-height: 20px;
    }
}

@media (max-width: 768px) {
    .header-subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}

@media (max-width: 576px) {
    .header-subtitle {
        display: none;
    }
}

.search-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 18px;
    width: 100%;
    height: 95px;
    margin-top: 46px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 992px) {
    .search-block {
        padding: 0px 15px;
        margin-top: 37px;
        height: 80px;
    }
}

@media (max-width: 768px) {
    .search-block {
        padding: 0px 12px;
        margin-top: 28px;
        height: 64px;
    }
}

@media (max-width: 576px) {
    .search-block {
        padding: 0px 9px;
        margin-top: 20px;
        height: 48px;
    }
}

.search-line {
    position: relative;
    width: 560px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 24px;
    border: none;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #0D606F;
    background-color: transparent;
}

@media (max-width: 992px) {
    .search-line {
        padding-left: 18px;
        width: 450px;
        height: 32px;
        font-size: 20px;
        line-height: 25px;
    }
}

@media (max-width: 768px) {
    .search-line {
        padding-left: 13px;
        width: 338px;
        height: 22px;
        font-size: 17px;
        line-height: 21px;
    }
}

@media (max-width: 576px) {
    .search-line {
        padding-left: 7px;
        width: 226px;
        height: 12px;
        font-size: 14px;
        line-height: 17px;
    }
}

.search-line::placeholder {
    color: #F2785C;
}

.search-line:focus-visible {
    outline: none;
}

.search-button {
    width: 228px;
    height: 59px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border: none;
    border-radius: 10px;
}

@media (max-width: 992px) {
    .search-button {
        font-size: 20px;
        line-height: 26px;
        width: 184px;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .search-button {
        font-size: 16px;
        line-height: 20px;
        width: 138px;
        height: 40px;
    }
}

@media (max-width: 576px) {
    .search-button {
        font-size: 11px;
        line-height: 15px;
        width: 92px;
        height: 30px;
    }
}

.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 100%;
    min-width: 1440px;
    width: 100%;

}

@media (max-width: 1456px) {
    .main {
        max-width: 100%;
        min-width: 240px;
    }
}

section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.steps {
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
    width: 100%;
    min-width: 240px;
    margin-top: 48px;
    margin-bottom: 0px;
}

@media (max-width: 576px) {
    .steps {
        margin-top: 0px;
    }
}

section > h2 {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    margin-top: 32px;
    margin-bottom: 40px;
    color: #F2785C;
    text-transform: uppercase;
}

@media (max-width: 992px) {
    section > h2 {
        font-size: 32px;
        line-height: 40px;
        margin-top: 27px;
        margin-bottom: 32px;
    }
}

@media (max-width: 768px) {
    section > h2 {
        font-size: 24px;
        line-height: 32px;
        margin-top: 22px;
        margin-bottom: 24px;
    }
}

@media (max-width: 576px) {
    section > h2 {
        font-size: 14px;
        line-height: 24px;
        margin-top: 17px;
        margin-bottom: 8px;
    }
}

.steps-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    box-sizing: border-box;
    min-width: 1400px;
    width: 100%;
    padding: 0px 0px;
}

@media (max-width: 1456px) {
    .steps-icons {
        min-width: 320px;
    }
}

@media (max-width: 576px) {
    .steps-icons {
        justify-content: space-between;
        padding: 0px 14px;
        margin-top: 10px;
    }
}

@media (max-width: 320px) {
    .steps-icons {
        min-width: 240px;
        flex-flow: column nowrap;
    }
}

.step {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: border-box;
    max-width: 25%;
    width: 25%;
    margin-bottom: 65px;
}

@media (max-width: 576px) {
    .step:first-child,
    .step:last-child {
        max-width: 27%;
        width: 27%;
    }
    .step:nth-child(2) {
        max-width: 40%;
        width: 40%;
    }
}

@media (max-width: 320px) {
    .step {
        max-width: 100%;
        width: 100%;
    }
}

.step-icon {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #F2785C;
    border-radius: 16px;
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    .step-icon {
        width: 90px;
        height: 90px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .step-icon {
        width: 80px;
        height: 80px;
        margin-bottom: 24px;
    }
}

@media (max-width: 576px) {
    .step-icon {
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
    }
}

.step-1 > img {width: 50px;}
.step-2 > img {width: 52px;}
.step-3 > img {width: 60px;}

@media (max-width: 992px) {
    .step-1 > img {width: 46px;}
    .step-2 > img {width: 46px;}
    .step-3 > img {width: 53px;}
}

@media (max-width: 768px) {
    .step-1 > img {width: 40px;}
    .step-2 > img {width: 41px;}
    .step-3 > img {width: 46px;}
}

@media (max-width: 576px) {
    .step-1 > img {width: 35px;}
    .step-2 > img {width: 35px;}
    .step-3 > img {width: 40px;}

    .step-1 {align-self: flex-start;}
    .step-2 {align-self: center;}
    .step-3 {align-self: flex-end;}
}

@media (max-width: 320px) {
    .step-1 > img {width: 35px;}
    .step-2 > img {width: 35px;}
    .step-3 > img {width: 40px;}

    .step-1 {align-self: center;}
    .step-2 {align-self: center;}
    .step-3 {align-self: center;}
}

.step-icon:hover {
    transform: translateY(-6px);
    background: #0D606F;
}

.step-text {
    width: 100%;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.step-1 + .step-text {text-align: center;}
.step-2 + .step-text {text-align: center;}
.step-3 + .step-text {text-align: center;}

@media (max-width: 992px) {
    .step-text {
        font-size: 20px;
        line-height: 24px;       
    }    
}

@media (max-width: 768px) {
    .step-text {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width: 576px) {
    .step-text {
        font-size: 10px;
        line-height: 12px;
    }
    .step-1 + .step-text {text-align: left;}
    .step-2 + .step-text {text-align: center;}
    .step-3 + .step-text {text-align: right;}
}

@media (max-width: 320px) {
    .step-1 + .step-text {text-align: center;}
    .step-2 + .step-text {text-align: center;}
    .step-3 + .step-text {text-align: center;}
}

.destinations {}

.slider-wrapper {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    min-width: calc(100vw - 32px);
    min-height: 800px;
    margin-bottom: 40px;
}

.fade-left {
    display: flex;
    position: absolute;
    min-width: calc((100vw - 32px - 1440px) / 2);
    min-height: 812px;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(to right, #ffffffff 0%, #ffffff00 100%);
}

.fade-right {
    display: flex;
    position: absolute;
    min-width: calc((100vw - 32px - 1440px) / 2);
    min-height: 812px;
    top: 0px;
    right: 0px;
    background-image: linear-gradient(to left, #ffffffff 0%, #ffffff00 100%);
}

.slider {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    min-width: 1440px;
    width: calc(100vw - 32px);
    min-height: 100px;
    overflow-x: hidden;
}

.slide {
    display: block;
    position: relative;
    width: 800px;
    height: 800px;
    margin: 6px 30px;
}

.slide-photo {
    border-radius: 16px;
}

.slide-place {
    display: block;
    position: absolute;
    color: #fff;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    bottom: 40px;
    left: 16px;
}

.bullets {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 10px;
    min-height: 20px;
    max-height: 20px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.bullet {
    display: flex;
    flex-flow: row nowrap;
    width: 16px;
    height: 16px;
    background-color: #f2785c80;
    cursor: pointer;
    border-width: 2px;
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
}

.bullet:hover {
    border-color: #0d606fff;
}

.bullet-current {
    background-color: #f2785cff;
}

.slider-button,
.stories-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 22px;
    margin-left: 4px;
}

.stories-button {
    margin-top: 25px;
    margin-bottom: 40px;
}

.slider-button button,
.stories-button button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 13px;
    width: 228px;
    padding: 10px 32px;
    font-size: 24px;
    line-height: 32px;
    border: none;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);

}

.slider-button>button>span,
.stories-button>button>span {
    line-height: 40px;
}

.stories {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 7px;
}

.stories-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 1440px;
    min-height: 300px;
    background-image: url("../images/bg-stories.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: rgba(0, 100, 0, 0.197);
}

@media (max-width: 1456px) {
    .stories-wrapper {
        max-width: 100%;
        width: 100%;
        min-width: 240px;
    }
}

@media (max-width: 390px) {
    .stories-wrapper {
        background-image: url("../images/bg-stories-sm.jpg");
    }
}

.stories-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 1440px;
    padding-top: 25px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1456px) {
    .stories-container {
        max-width: 100%;
        width: 100%;
        min-width: 240px;
    }
}

@media (max-width: 576px) {
    .stories-container {
        padding-top: 10px;
    }
}

.story {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    box-sizing: border-box;
    width: 1200px;
    margin: 15px 0px;
}

@media (max-width: 1456px) {
    .story {
        gap: 40px;
        max-width: 100%;
        width: 100%;
        min-width: 240px;
        padding-left: 45px;
        padding-right: 45px;
    }
}

@media (max-width: 992px) {
    .story {
        gap: 30px;
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media (max-width: 768px) {
    .story {
        align-items: flex-start;
        gap: 20px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 576px) {
    .story {
        gap: 10px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px 0px 15px 0px;
    }
}

@media (max-width: 320px) {
    .story {
        flex-flow: column nowrap;
    }
}

.story-photo {
    display: flex;
    position: relative;
    width: 400px;
    height: 250px;
    filter: drop-shadow(0px 4px 4px #0D606F);
}

@media (max-width: 992px) {
    .story-photo {
        width: 320px;
        height: 200px;
    }
}

@media (max-width: 768px) {
    .story-photo {
        width: 240px;
        height: 150px;
    }
}

@media (max-width: 576px) {
    .story-photo {
        width: 155px;
        height: 130px;
    }
}

@media (max-width: 320px) {
    .story-photo {
        align-self: center;
    }
}

.story-photo img {
    object-fit: cover;
    min-width: 400px;
    width: 100%;
    height: 100%;    
    border-radius: 16px;
}

@media (max-width: 992px) {
    .story-photo img {
        min-width: 320px;
        height: 200px;
    }
}

@media (max-width: 768px) {
    .story-photo img {
        min-width: 240px;
        height: 150px;
    }
}

@media (max-width: 576px) {
    .story-photo img {
        min-width: 155px;
        height: 130px;
    }
}

.story-content {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
}

.story-name {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
    margin-top: 1px;
    margin-bottom: 23px;
}

@media (max-width: 992px) {
    .story-name {
        font-weight: 700;
        font-size: 27px;
        line-height: 32px;
        margin-top: 2px;
        margin-bottom: 18px;
    }
}

@media (max-width: 768px) {
    .story-name {
        font-size: 19px;
        line-height: 22px;
        margin-top: 3px;
        margin-bottom: 14px;
    }
}

@media (max-width: 576px) {
    .story-name {
        font-size: 11px;
        line-height: 13px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

.story-description p {
    margin: 0px 0px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

@media (max-width: 992px) {
    .story-description p {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 768px) {
    .story-description p {
        font-size: 12px;
        line-height: 15px;
    }
}

@media (max-width: 576px) {
    .story-description p {
        max-height: 88px;
        overflow-y: hidden;
        font-size: 9px;
        line-height: 11px;
    }
}

.story-description p a {
    font-weight: 700;
    text-decoration-line: underline;
    color: #0D606F;
}

.story-description p a:hover {
    color: #F2785C;
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 61px;
}

.copyright {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.socials,
.links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    margin: 0;
    width: 300px;
}

.socials {
    padding: 0px 120px 0px 39px;
}

.links {
    padding: 0px 20px 0px 120px;
}

.socials li,
.links {
    height: 34px;
    list-style: none;
}

.socials a,
.links a {
    height: 34px;
}